@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Heavy.eot');
  src: url('./fonts/HelveticaNeue-Heavy.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue-Heavy.woff2') format('woff2'),
    url('./fonts/HelveticaNeue-Heavy.woff') format('woff'),
    url('./fonts/HelveticaNeue-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Black.eot');
  src: url('./fonts/HelveticaNeue-Black.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue-Black.woff2') format('woff2'),
    url('./fonts/HelveticaNeue-Black.woff') format('woff'),
    url('./fonts/HelveticaNeue-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Bold.eot');
  src: url('./fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue-Bold.woff2') format('woff2'),
    url('./fonts/HelveticaNeue-Bold.woff') format('woff'),
    url('./fonts/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Thin.eot');
  src: url('./fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue-Thin.woff2') format('woff2'),
    url('./fonts/HelveticaNeue-Thin.woff') format('woff'),
    url('./fonts/HelveticaNeue-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-UltraLight.eot');
  src: url('./fonts/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue-UltraLight.woff2') format('woff2'),
    url('./fonts/HelveticaNeue-UltraLight.woff') format('woff'),
    url('./fonts/HelveticaNeue-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Light.eot');
  src: url('./fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue-Light.woff2') format('woff2'),
    url('./fonts/HelveticaNeue-Light.woff') format('woff'),
    url('./fonts/HelveticaNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Roman.eot');
  src: url('./fonts/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue-Roman.woff2') format('woff2'),
    url('./fonts/HelveticaNeue-Roman.woff') format('woff'),
    url('./fonts/HelveticaNeue-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Medium.eot');
  src: url('./fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue-Medium.woff2') format('woff2'),
    url('./fonts/HelveticaNeue-Medium.woff') format('woff'),
    url('./fonts/HelveticaNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EuroStyle';
  src: url('./fonts/EuroStyleNormal.eot');
  src: url('./fonts/EuroStyleNormal.eot?#iefix') format('embedded-opentype'),
    url('./fonts/EuroStyleNormal.woff2') format('woff2'),
    url('./fonts/EuroStyleNormal.woff') format('woff'),
    url('./fonts/EuroStyleNormal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eurostile';
  src: url('./fonts/EurostileBold.eot');
  src: url('./fonts/EurostileBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/EurostileBold.woff2') format('woff2'),
    url('./fonts/EurostileBold.woff') format('woff'),
    url('./fonts/EurostileBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


html {
  font-family: 'Helvetica Neue';
  background: #fff;
}

body {
  font-size: 17px;
  font-family: 'Helvetica Neue';
  background: rgba(167, 169, 172, 10%);
  letter-spacing: 2px;
}
body.menuactive{
  overflow: hidden;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}

a:hover {
  text-decoration: none;
  transition: all 0.5s;
}

.container {
  max-width: 1360px;
}

.container-md {
  max-width: 990px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Eurostile';
  letter-spacing: 0px;
}

img {
  max-width: 100%;
}

.btn {
  border-radius: 8px;
  padding: 13px 16px;
  text-align: center;
  font-size: 17px;
  border: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;

}

.btn::after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-image: url('../images/btn-arrow.svg');
  background-size: cover;
  background-position: center;
}

.btn-primary {
  background: #01205C;
  border: 0px;
  color: #F3F4F4;
}

.btn-primary:hover {
  background: #D11B22;

}

.btn-primary:focus-visible {
  background-color: #D11B22;
  border-color: #D11B22;
  outline: 0;
  box-shadow: none;
}

.btn-primary:focus,
.btn-primary:active {
  background-color: #D11B22 !important;
  border-color: #D11B22 !important;
  outline: 0;
  box-shadow: none;
}


.btn-outline-primary {
  background: transparent;
  border: 2px solid #01205C;
  color: #01205C;
}

.btn-outline-primary::after {
  background-image: url('../images/outline-btn-arrow.svg');
}

.btn-outline-primary:hover {
  background: #F3F4F4;
  border: 2px solid #01205C;
  color: #01205C;

}

/* 
.btn-outline-primary:focus-visible {
  background-color: #D11B22;
  border-color: #D11B22;
  outline: 0;
  box-shadow: none;
}

.btn-outline-primary:focus,
.btn-outline-primary:active {
  background-color: #D11B22 !important;
  border-color: #D11B22 !important;
  outline: 0;
  box-shadow: none;
} */

.btn-secondary {
  background: #D11B22;
  border: 0px;
  color: #F3F4F4;
}

.btn-secondary:hover {
  background: #01205C;

}

.btn-secondary:focus-visible {
  background-color: #01205C;
  border-color: #01205C;
  outline: 0;
  box-shadow: none;
}

.btn-secondary:focus,
.btn-secondary:active {
  background-color: #01205C !important;
  border-color: #01205C !important;
  outline: 0;
  box-shadow: none;
}

.btn-link {
  padding: 13px 16px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 30px;
  color: #000000;
}

.btn-link:hover {
  color: #D11B22;
}

.btn-link::after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-image: url('../images/btn-link-arrow.svg');
  background-size: cover;
  background-position: center;
}


.header {
  background: #00205C;
  padding: 10px 0;
}
/* .header-scrolled{
  position: fixed;
  width: 100%;
  z-index: 2;
} */

.logo {
  margin-bottom: -30px;
  position: relative;
  z-index: 9;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
}

.navbar li {
  position: relative;
  padding: 0px;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  color: #F3F4F4;
  text-transform: uppercase;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover>a {
  color: #D11B22;

}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  color: #00476d;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #cda45e;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

.mobile-nav-toggle {
  display: none;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #D11B22;
  font-size: 36px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
header-cont{
  margin-top: auto;
}

.header-info .header-title {
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid #F3F4F4;
  color: #F3F4F4;
  padding-right: 30px;
  padding-bottom: 4px;
  margin-bottom: 20px;
  display: block;
  width: fit-content;
}

.header-info a {
  color: #F3F4F4;
  text-decoration: underline;
  margin-bottom: 5px;
  word-break: break-all;
  text-transform: unset;
}

.header-info a:hover {
  color: #D11B22;
  text-decoration: underline;
}

.header-info p {
  margin-bottom: 0px;
  color: #F3F4F4;
}
.navbar .header-cont {
  display: none;
}
.header-cont .social-icon {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 20px;
  height: 100%;
}

.header-cont .social-icon a {
  color: #F3F4F4;
  font-size: 24px;
  text-decoration: none;
}
.header-cont .social-icon a i {
  font-size: 24px;
}



@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul, .navbar .header-cont {
    display: none;
  }
}

.bar-1,
.bar-2,
.bar-3 {
  width: 30px;
  height: 2px;
  background-color: #F3F4F4;
  margin-bottom: 7px;
  transition: 500ms;
}

.bar-3 {
  margin-bottom: 0;
  margin-top: 7px;
}

.bar-2 {
  margin-bottom: 0;

}

.bi-list .bar-1 {
  transform: rotate(45deg) translateY(13px) translateX(3px);
  background-color: #F3F4F4;
  margin-bottom: 7px;
}

.bi-list .bar-2 {
  opacity: 0;
  display: none;
}

.bi-list .bar-3 {
  transform: rotate(-45deg) translateX(-6px) translateY(-3px);
  background-color: #F3F4F4;
  margin-bottom: 7px;
}

.navbar-mobile {
  position: absolute;
  top: 93px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 10px 0;
  border-radius: 0px;
  background-color: #00205C;
  overflow-y: auto;
  transition: 0.3s;
  z-index: 2;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  width: 100%;

}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #F3F4F4;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #D11B22;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #D11B22;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

main {
  /* padding-top: 130px; */
}

.sec-padd {
  padding: 80px 0;
}

.container {
  max-width: 1240px;
}

.home-banner-sec {
  position: relative;
  height: 550px;
}

.banner-bg {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.banner-bg img {
  width: 100%;

  object-fit: cover;
  height: 100%;
}

.banner-cont {
  position: relative;
  z-index: 1;
  background: rgba(0, 32, 92, 0.4);
  padding: 30px 0px;
  display: flex;
  align-items: center;
  height: 100%;
}

.banner-cont h1 {
  font-size: 88px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.video-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.about-sec {
  text-align: center;
}

.about-sec h2 {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #000;
}

.about-sec p {
  font-size: 24px;
  margin-bottom: 30px;
  color: #000;
  letter-spacing: 2px;
}

.sec-title h2 {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #000;
}

.sec-title p {
  font-size: 17px;
  margin-bottom: 20px;
  color: #000;
  letter-spacing: 2px;
}

.partner-logo {
  background: #D9D9D9;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.benefits-sec {}

.benefits-box {
  background: #F3F4F4;
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  background: linear-gradient(180deg, rgba(124, 191, 255, 0.1) 16.5%, rgba(3, 74, 206, 0.1) 83%), #F3F4F4;
}

.benefits-box img {
  max-height: 200px;
  width: auto;
  padding: 15px;
}

.benefits-box p {
  color: #00205C;
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}

.whoweserve-sec {}

.whoweserve-box {
  padding: 60px 0px;
}

.whoweserve-section .whoweserve-box:nth-child(3n + 1) {
  background: rgba(209, 211, 212, 70%);
}

.whoweserve-section .whoweserve-box:nth-child(3n + 2) {
  background: rgba(209, 211, 212, 50%);
}

.whoweserve-section .whoweserve-box:nth-child(3n + 2) .img-aria {
  order: 1;
}

.whoweserve-section .whoweserve-box:nth-child(3n + 2) .cont-aria {
  order: 2;
}

.whoweserve-section .whoweserve-box:nth-child(3n + 3) {
  background: rgba(209, 211, 212, 30%);
}

.whoweserve-section .cont-aria {
  display: flex;
  flex-direction: column;
}

.whoweserve-box img {
  border-radius: 20px;
  max-width: 100%;
  width: 100%;
}

.whoweserve-box h3 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.whoweserve-box p {
  color: #000000;
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  line-height: 28px;
}

.testimonial-sec-box {
  background: #00205C;
  border-radius: 20px;
  padding: 40px;
}

.testimonial-sec-box img {
  border-radius: 20px;
  width: 100%;
}

.testimonial-sec-box p {
  color: #F3F4F4;
  font-size: 28px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  line-height: 36px;
  font-weight: 700;
}

.testimonial-sec-box .name {
  color: #F3F4F4;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.testimonial-sec-box .post {
  color: #F3F4F4;
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: 700;
}

.testimonial-sec-box i {
  color: #F3F4F4;
  font-size: 48px;
  margin-bottom: 20px;
}

.whatnew-sec {}

.whatnew-news {
  padding: 0;
  text-align: center;
  overflow: hidden;
  margin-bottom: 10px;
  height: 50%;

}

.whatnew-news .btn-link {
  padding: 20px 0px;

}

.whatnew-news img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-height: 250px;
  border-radius: 20px;
}

.whatnew-news.h-full {
  height: 100%;
  max-height: 100%;
}

.whatnew-news.h-full img {
  max-height: 100%;
  max-height: 565px;
}

.footer {
  background: #A7A9AC;
  padding: 30px 0px;
  color: #00205C;
}

.footer-info .footer-title {
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid #00205C;
  color: #00205C;
  padding-right: 30px;
  padding-bottom: 4px;
  margin-bottom: 20px;
  display: block;
  width: fit-content;
}

.footer-info a {
  color: #00205C;
  text-decoration: underline;
  margin-bottom: 5px;
  word-break: break-all;
}

.footer-info a:hover {
  color: #D11B22;
  text-decoration: underline;
}

.footer-info p {
  margin-bottom: 0px;
}

.social-icon {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;
  height: 100%;
}

.social-icon a {
  color: #00205C;
  font-size: 24px;
}

.social-icon a:hover {
  color: #D11B22;
}

@media (max-width: 1140px) {
  .slide-container {
    width: 370px;
    height: 370px;
  }

  .slide-container .slide {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
  }
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (max-width: 1299px) {
  .container {
    max-width: 96%;
  }
}

@media (max-width: 1199px) {
  .navbar ul {
    gap: 10px;
  }
  .navbar a {
    padding: 5px 5px;
    font-size: 13px;
  }


  .sec-padd,
  footer {
    padding: 60px 0;
  }

}

@media (max-width: 1024px) {
  .navbar ul {
    gap: 10px;
  }

  .navbar a {
    padding: 5px 5px;
    font-size: 13px;
  }

  .container-md {
    width: 90%;
  }

  .banner-cont h1 {
    font-size: 60px;
  }

  .about-sec h2,
  .whoweserve-box h3 {
    font-size: 34px;
  }

  .about-sec p {
    font-size: 16px;
    font-weight: 700;
  }

  .sec-title h2 {
    font-size: 40px;

  }

  .sec-title p,
  .whoweserve-box p,
  .testimonial-sec-box .post {
    font-size: 16px;
  }

  .testimonial-sec-box p {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .testimonial-sec-box .name {
    font-size: 26px;
    margin-bottom: 0;
  }

  .testimonial-sec-box i {
    font-size: 44px;
  }



}

@media (max-width: 991px) {

  .sec-padd,
  footer {
    padding: 50px 0;
  }



  #header {
    padding: 10px 0px;
  }

  .navbar-mobile {
    padding: 30px 40px
  }

  .navbar a {
    padding: 5px 5px;
    font-size: 20px;
  }

  .navbar-mobile ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .navbar-mobile .header-cont {
    display: block;
  }



}

@media (max-width: 767px) {
  .banner-cont h1 {
    font-size: 40px;
  }

  .banner-cont {
    align-items: flex-end;
  }

  .about-sec h2,
  .whoweserve-box h3 {
    font-size: 30px;
  }

  .about-sec p {
    font-size: 16px;
    font-weight: 700;
  }

  .sec-title h2 {
    font-size: 36px;

  }

  .sec-title p,
  .whoweserve-box p,
  .testimonial-sec-box .post {
    font-size: 16px;
  }

  .testimonial-sec-box p {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .testimonial-sec-box .name {
    font-size: 24px;
    margin-bottom: 0;
  }

  .testimonial-sec-box i {
    font-size: 40px;
  }

  .whoweserve-section .cont-aria {
    order: 1;
  }

  .whatnew-news img {
    height: 300px;
    max-height: 300px;
    object-fit: cover;
  }

  .social-icon {
    justify-content: flex-start;
  }

  .whoweserve-box img {
    max-height: 300px;
    object-fit: cover;
  }


}

@media (max-width: 575px) {
  .logo img {
    max-width: 60%;
  }

}